@model ZLERP.Model.SupplyChain.SC_YingSFrec
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/SupplyChain/SC_YingSFrec.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        var options = {
            storeUrl: '@Url.Action("Find")',
            DelstoreUrl: '@Url.Action("Find", "SC_YingSFrecdetail")' 
        };
        $(function () {
            SC_YingSFrecIndexInit(options);
        });
    </script>
}
<div id="MyJqGrid">
</div>

<div id="myJqGridDetial"></div> 
 
