@model ZLERP.Model.SupplyChain.V_PiaoIn
@section HeaderSection{
<script src="@Url.Content("~/Scripts/Views/SupplyChain/SC_PanDianLib.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        var options = {
            storeUrl: '@Url.Action("Find", "SC_PiaoIn")',
            ZhangstoreUrl: '@Url.Action("Find", "SC_ZhangIn")' 
        };
        $(function () {
            SC_PanDianLibIndexInit(options);
        });
</script>
}
<div id="SC_PiaoInGrid"></div> 
 
<div id="SC_ZhangInGrid"></div> 

 
